#container{
    margin: auto;
    width: 75%;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    background-color: #393939;
}

h1{
    color: #95C1FF;
}

h2{
    color: #307ACF;
}

h3{
    color: #307ACF;
}

img{
    width: 40%;
}